<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/project.css">
</head>
<body>
    <header>
        <section class="headerText">
            <a href="/shop"><img id="site-icon" src="/images/godzilla.png" alt="site logo"></a>
            <h1 id="site-name">Shopzilla.com</h1>
            <div class="motto">Shop 'til you drop!</div>
        </section>
        <button type="button"><img id="shoppingCart" src="/images/cart.png" alt="shopping cart"></button>
    </header>