<% include ../../includes/projectHeader.ejs %>
</head>

<body>
    <% include ../../includes/projectNav.ejs %>

    <main>
        <div class="largeHeading"><h1><%- title %></h1></div>
    </main>
</body>

<% include ../../includes/projectFoot.ejs %>