<% include ../../includes/projectHeader.ejs %>

    <% include ../../includes/projectNav.ejs %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card">
                        <header class="cardHeader">
                            <h1 class="cardTitle"><%= product.title %></h1>
                        </header><hr>
                        <div class="cardContent">
                            <div class="cardImg">
                                <img src="<%= product.img %>"
                                    alt="random">
                            </div>
                            <div class="cardInfo">
                                <div class="cardDetails">
                                    <h2 class="product__price"><%= product.price %></h2>
                                    <p class="product__description"><%= product.desc %></p>
                                </div>
                                <div class="cardAction">
                                    <button class="btn" onclick="alerty()">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </article>
                    <hr>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <script>const alerty = () => alert('Feature coming soon!');</script>
</body>

<% include ../../includes/projectFoot.ejs %>