@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (min-width: 60rem) {

    main{
        max-width: 900px;
        margin: auto;
    }

    .nav-container {
        background: #212121;
        padding: 4px;
        width: 100%;

        .navigation {
            display: flex;
            padding: unset;
            margin: auto;

            // li:first-child {
            //     display: none;
            // }

            li {
                display: block;
                flex: auto;
                border-right: 2px groove rgba(57,57,58,1);
                border-radius: 2px;
                background-color:  rgba(112,105,147,.7); 
            }

            a {
                padding: .5rem;
                vertical-align: middle;
            }
        }
    }


    .motto {
        padding: 0.3rem 0 1rem 6rem;
    }


    #site-icon {
        padding: 5px;
        vertical-align: middle;
        float: none;
        max-width: 80px;
    }

}

  
@media only screen and (min-width: 32.5rem) {

    
    header {
        justify-content: space-evenly;
    }
    
    .nav-container {
        margin-left: auto;
    }
    .navigation {

        a:hover {
            color: rgba(57,57,58,1);
        }
        li:hover {
            background: rgba(180,221,127, 1);
            text-shadow: 2px 1px 1px white;
        }
    } 

    #site-name {
        padding: 10px;  
        text-align: center;
        font-size: 3rem;
    }

    .titleHeading {
        font-size: xx-large;
        font-family: cursive;
        padding: 2rem 0 0 0;
    }

    #site-icon {
        padding: 5px;
        vertical-align: middle;
        float: none;
    }
    
    .headerText {
        display: inline-flex;
        padding: 0px 10px 0 13px;
        margin: auto;
    }

    footer {
        border-bottom: outset;
    }
}
  
header {
    background-color: rgba(112,105,147,.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;

}

header button {
    background-color: rgba(112,105,147,.6);
}

.headerText {
    display: flex;
}

#active {
    background: rgba(180,221,127, 1);
    text-shadow: 2px 1px 1px white;
}

#active a {
    color: rgba(112,105,147,1);
    text-shadow: 0px 0px 1px rgba(57,57,58, 1);
}

// .navigation {
//     list-style-type: none;
//     display: block;
//     padding: 0;
//     height: auto;
//     margin: 0;
//     font-family: 'Raleway', sans-serif;
// }

// .navigation li {
//     display: none;
//     font-family: 'Raleway', sans-serif;
//     font-size: large;
//     background-color:  rgba(112,105,147,1);
//     border: 1px solid rgba(57,57,58,.7);
// }

// .responsive li {
//     display: block;
//     border-bottom: 1px solid white;
//     background-color:  rgba(112,105,147,1);
//     border: 1px solid rgba(57,57,58,.7);
// }

// .navigation li:first-child {
//     display: block;
// }

// .responsive li:first-child {
//     background-color:  rgba(112,105,147,.7);
// }

// .responsive li:first-child a {
//     color: #f8f9fb;
// }

.navigation a {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    color: #f8f9fb;
    font-weight: 700;
	display: block;
}


body {
    background: azure;
}

main {
    margin: auto;
    height: max-content;
    background-color: azure;
    border-bottom: inset;
    box-shadow: 0px 5px 7px 4px rgba(57,57,58, 1);
}

h3 {
    margin: 0;
    color: #212121;
    text-indent: 5%;
    font-size: inherit;
}

// #heroImg {
//     display: none;
// }


#site-name {
    text-decoration: underline;
    color:#212121;
    padding-left: 2rem;
    font-size: x-large;
    margin: auto;  
    font-family: 'Raleway', sans-serif;
    text-shadow: -2px 1px 1px rgba(180,221,127, 1);

}

.motto {
    display: none;
    color: rgba(252,215,112,1);
    padding: 2px;;
    margin:auto;
    font-size: smaller;
    font-family: 'Cantarell', sans-serif;
}

#shoppingCart {
    max-width: 40px;
}

header button:hover {
    background-color: rgba(180,221,127, 1);
}

.titleHeading {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: auto;
    padding: 1rem 0rem 0 0;
    font-size: larger;
}

#site-icon {
    max-width: 60px;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #212121;
    color: #f8f9fb;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-size: small;
    font-weight: 600;
}
 
  
  /* For the add product page form */
  .product-form {
      padding: 2em;
    
      .form-control {
          width: 60%;
          margin: auto;
          display: flex;
          flex-direction: column;
          
      }
      label {
          font-weight: bold;
          font-family: 'Sansita';
      }
      button {
        display: block;
        flex: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #f8f9fb;
        font-weight: bold;
        padding: .5em;
        border-right: 2px groove rgba(57,57,58,1);
        border-radius: 2px;
        background-color:  rgba(112,105,147,.7);
        margin: auto; 
      }
      button:hover {
        background-color: rgba(180,221,127, 1);
        color: black;
        cursor: pointer;
      }
  }

  .cardContent {
      display: flex;
      padding: .5em;
      margin: auto;
      justify-content:center; 

      
      .cardInfo {
            display: flex;
            flex-direction: column;
            padding: 1em;
            justify-content: space-between;    
            button {
                display: block;
                flex: auto;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #f8f9fb;
                font-weight: bold;
                padding: .5em;
                border-right: 2px groove rgba(57,57,58,1);
                border-radius: 2px;
                background-color:  rgba(112,105,147,.7);
                margin: auto; 
              }
              button:hover {
                background-color: rgba(180,221,127, 1);
                color: black;
                cursor: pointer;
              }
      }
  }

  .cardTitle {
    font-family: "Raleway";
    margin-left: 1.5em;
}